:root {
  color-scheme: light dark;
  --primary-background: #718CB7;
  --primary-text: #FFFFFF;
  --secondary-background: #FFFFFF;
  --secondary-text: #000000;
  --secondary-accent: #3B5789;
  --secondary-link: #114499;
  --secondary-quiet: #777777;
}

@media (prefers-color-scheme: light) {
  :root {
  --primary-background: #718CB7;
  --primary-text: #FFFFFF;
  --secondary-background: #FFFFFF;
  --secondary-text: #000000;
  --secondary-accent: #3B5789;
  --secondary-link: #114499;
  --secondary-quiet: #777777;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-background: #000000;
  --primary-text: #718CB7;
  --secondary-background: #192537;
  --secondary-text: #CCCCCC;
  --secondary-accent: #718CB7;
  --secondary-link: #718CB7;
  --secondary-quiet: #999999;
  }
}

body {
	background: var(--primary-background);
	color: var(--secondary-text);
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
}
header, footer, section, nav {
	margin: 0;
	padding: 5px;
}
section p {
	margin: 0 2em;
}
img {
	border-style: none;
}
#outer {
	height: 100vh;
	display: grid;
	grid-template-columns: 2fr 5fr 1fr;
	gap: 1em;
}
header {
	grid-column: 1;
	text-align: right;
}
	header .inner {
		background: var(--secondary-background);
		padding: 1em;
		position: sticky;
		display: inline-block;
		text-align: center;
		top: 1em;
	}
#content {
	grid-column: 2;
	background: var(--secondary-background);
	display: inline-block;
}
nav {
	text-align: left;
	font-size: small;
}

h1 {
	font-size: xx-large;
	margin: 0;
	padding: 0;
}
h2 {
	background: var(--primary-background);
	color: var(--primary-text);
	display: block;
	font-size: large;
	padding: 0.25em 0.4em;
	text-transform: uppercase;
}
	h2:first-letter {
		font-size: 1.1em;
	}
h3 {
	color: var(--secondary-accent);
	font-size: medium;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: small;
	margin: 0;
	padding: 0;
}
ul {
	font-size: small;
	margin: 0;
}
a:link, a:visited {
	color: var(--secondary-link);
	text-decoration: none;
}
a.contact {
	display: block;
	font-size: small;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li, article {
	position: relative;
}
.address {
	display: none;
	font-size: x-small;
	position: absolute;
	text-align: left;
	top: 4em;
}
.datetime, .technologies {
	color: var(--secondary-quiet);
	font-size: x-small;
	padding: 0.25em 0;
	position: absolute;
	right: 70%;
}
.datetime {
	text-transform: uppercase;
}

article {
	margin-bottom: 0.5em;
	text-align: right;
	min-height: 2em;
	width: auto;
}
	article h3 {
		display: inline-block;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 30%;
	}
	article h4, article ul {
		display: inline-block;
		text-align: left;
		width: 66%;
	}
	article ul {
		margin-left: 0;
		padding-left: 0;
		padding-right: 3%;
		width: 63%;
	}
	article li {
		list-style: square;
		margin-left: 1.5em;
		padding-left: 0;
	}
		article:hover .address {
			display: block;
		}
	article .icon {
		display: none;
		float: left;
	}
		article:hover .icon {
			display: block;
		}
#employment article {
	min-height: 5em;
}

@media (max-width: 1024px) {
	body {
		background: var(--secondary-background);
	}
	#outer {
		display: block;
	}
		header .inner {
			width: 100%;
			padding: 0;
			margin: 0;
			text-align: center;
			top: 1em;
		}
		header .inner nav {
			display: none;
		}
}

@media (max-width: 600px) {
	article {
		text-align: left;
		padding: 0.25em 0.5em;
		margin-bottom: 0.25em;
	}
		article h3 {
			display: block;
			width: auto;
			float: none;
		}
		article h4, article ul {
			display: block;
			text-align: left;
			width: auto;
		}
			article:hover .address, article:hover .icon {
				display: none;
			}
	.datetime, .technologies {
		right: 0;
		position: inherit;
display: inline-block;
text-align: left;
	}
	#employment article {
		min-height: 4em;
	}
}